<div class="mt-10">
    <div  class="flex  flex-row  justify-between  items-center ">
        <span class="flex rounded-xl !w-8 !h-8 items-center align-middle justify-center shadow-xl"><i class="pi pi-chevron-left text-sm text-black"></i></span>

    </div>

    <div class="flex flex-row space-x-4 mt-4">
        <div class="basis-7/12 space-y-4 flex flex-col">
            <p class="font-bold text-xl text-black">The Cuddle Club</p>
            <p class="text-gray-600">Our commitment is to always source and work alongside brands which are environmentally- sustainable whilst not compromising on adventure and aesthetics for children. Our mission is to become the preferred choice for luxury and high-quality items for children.</p>
            <div class="flex flex-col space-y-6">
                <div
                    class="flex flex-1 flex-row h-40 border-gray-200 "
                >
                    <div
                        class="flex space-y-2 flex-col basis-6/12 p-4 items-center border-r border-gray-200 "
                    >
                        <p class="font-bold text-black text-5xl">4.0</p>
                        <p class="text-sm">(4.8k reviews)</p>
                    </div>
                    <div class="flex basis-6/12">
                        <rating-bars></rating-bars>
                    </div>
                </div>
                <user-review></user-review>
                <user-review></user-review>
                <user-review></user-review>
                <user-review></user-review>
            </div>
        </div>
        <div class="basis-5/12">
            <div class="flex flex-col space-y-8">
                <div class="text-center flex justify-center items-center">
                    <img
                        class="w-48 h-28 md:h-56"
                        src="assets/imgs/baby.png"
                        alt=""
                    />
                </div>
                <div  class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="basis-6/12">
                            <p class="text-xs text-black font-semibold mb-2">Monday - Friday</p>
                        </div>
                        <div class="basis-1/12">
                            <p class="text-black font-light">:</p>
                        </div>
                        <div class="basis-5/12">
                            <div class="text-xs font-semibold text-orange-400 mb-2">
                                <p>10:00 - 22.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row">
                        <div class="basis-6/12">
                            <p class="text-xs text-black font-semibold">Saturday - Sunday</p>
                        </div>
                        <div class="basis-1/12">
                            <p class="text-black font-light">:</p>
                        </div>
                        <div class="basis-5/12">
                            <div class="text-xs font-semibold text-orange-400 mb-2">
                                <p>12:00 - 20.00</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="py-1">
                        <p class="font-bold text-black text-lg">Address</p>
                    </div>
    
                    <div class="flex flex-row items-center">
                        <i class="pi pi-map-marker text-orange-400"></i>
                        <p class="text-base ml-2 text-gray-800">
                            Ikoyi, Lagos, Nigeria.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>