<!-- <div>
    <featured-story-avatar></featured-story-avatar>
    <featured-story-avatar></featured-story-avatar>
    <featured-story-avatar></featured-story-avatar>
</div> -->


<div class="flex flex-row space-x-4">
    <div class="">
    <img src="assets/demo/images/galleria/galleria1.jpg" class="!w-14 !h-14 rounded-full border-2 border-orange-300"  alt="story">
    </div>
    <div class="">
    <img src="assets/demo/images/galleria/galleria1.jpg" class="!w-14 !h-14 rounded-full border-2 border-orange-300"  alt="story">
    </div>
</div>
