

<div class="flex flex-col p-4 py-2">
    <div class="flex items-center flex-row">
        <div>
            <p class="font-bold text-base mr-2">5</p>
        </div>
        <div>
            <p-progressBar [value]="90"></p-progressBar>
        </div>
    </div>
    <div class="flex items-center flex-row">
        <p class="font-bold text-base mr-2">4</p>
        <p-progressBar [value]="90"></p-progressBar>
    </div>
    <div class="flex items-center flex-row">
        <p class="font-bold text-base mr-2">3</p>
        <p-progressBar [value]="90"></p-progressBar>
    </div>
    <div class="flex items-center flex-row">
        <p class="font-bold text-base mr-2">2</p>
        <p-progressBar [value]="90"></p-progressBar>
    </div>
    <div class="flex items-center flex-row">
        <p class="font-bold text-base mr-2">1</p>
        <p-progressBar [value]="90"></p-progressBar>
    </div>
</div>