<div
    [routerLink]="['/product-details']"
    class="bg-white cursor-pointer  relative flex flex-col shadow-xl p-3 justify-between shadow-zinc-50 w-48 overflow-hidden rounded-3xl cursor-pointer hover:opacity-75"
>
    <div class="w-full justify-center items-center align-middle">
        <img
            class="w-full rounded-2xl h-36"
            src="{{passedData.photo}}"
        />
    </div>
    <div
        class="space-y-1 align-bottom relative h-auto w-full flex pt-4 flex-col"
    >
        <p class="text-black text-lg font-semibold line-clamp-1">
          {{passedData.title}}
        </p>
        <div class="flex space-x-1 flex-row items-center align-middle">
            <span class="text-gray-700 text-xs font-normal line-clamp-1"
                >{{passedData.location}}
            </span>
            <span class="text-gray-700 text-xs font-normal">|</span>
            <span> <i class="pi pi-star text-sm text-orange-400"></i> </span>
            <span class="text-gray-700 text-xs font-normal">{{passedData.ratings}} ({{passedData.total}}) </span>
        </div>
        <p class="text-orange-400 text-lg font-semibold line-clamp-1">
            N{{passedData.price}}
        </p>
        <span class="absolute bottom-0 right-1">
            <i class="pi pi-heart text-red-400"></i
        ></span>
    </div>
</div>
