<div class="mt-10">
    <div  class="flex  flex-row  justify-between  items-center ">
        <span class="flex rounded-xl !w-8 !h-8 items-center align-middle justify-center shadow-xl"><i class="pi pi-chevron-left text-sm text-black"></i></span>

        <div  class="flex items-center flex-row space-x-2">
            <div class="flex p-1 px-4 items-center border border-orange-400 rounded-3xl flex-row space-x-2">
                <i class="pi pi-star text-sm text-orange-400"></i>
                <p class="text-orange-400">Filter</p>
            </div>
            <div class="flex p-1 px-4 items-center border border-orange-400 rounded-3xl flex-row space-x-2">
                <i class="pi pi-star text-sm text-orange-400"></i>
                <p class="text-orange-400">Sort</p>
            </div>
            <div class="flex p-1 px-4 items-center border border-orange-400 rounded-3xl flex-row space-x-2">
                <p class="text-orange-400">Promo</p>
            </div>
            <div class="flex p-1 px-4 items-center border border-orange-400 rounded-3xl flex-row space-x-2">
                <p class="text-orange-400">ezSecure</p>
            </div>
        </div>
    </div>

    <page-title title="Baby Products"></page-title>

    <div class="grid grid-cols-4 gap-2">
        <div>
            <product-card-wide></product-card-wide>
        </div>
        <div>
            <product-card-wide></product-card-wide>
        </div>
        <div>
            <product-card-wide></product-card-wide>
        </div>
        <div>
            <product-card-wide></product-card-wide>
        </div>
        <div>
            <product-card-wide></product-card-wide>
        </div>
    </div>
</div>