<div class="space-y-2">
    <div class="flex flex-row items-center space-x-2">
        <img
        class="!w-8  !h-8 rounded-full"
        src="assets/imgs/womanbaby.jpg"
        alt=""
        />
        <p class="font-bold text-base text-black">Susan Adeyemo</p>
    </div>
    <p>
        Excellent items. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 😍😍
    </p>
    <div class="flex space-x-4 items-center flex-row">
        <i class="pi pi-heart text-red-400"></i>
        <span class="text-black text-base font-semibold">938 </span>
        <p>6 days ago</p>
    </div>
</div>