img {
    max-width: unset !important;
    width: 710px;
    height: 218px;
    background: #6c5fbc;
    border-radius: 22.375px;
}



@media only screen and (max-width: 600px) {
    img {
        max-width: unset !important;
        width: 379px;
        height: 182px;
        border-radius: 22.375px;
    }
}